
# ENV - used in deploy names
# make sure not have lengthy names(because of AWS resource name length restriction)
# stick to 3-4 chars ex:abhi
ENV=

# AWS CONFIGURATION
AWS_REGION=ap-southeast-2
AWS_DEFAULT_REGION=ap-southeast-2

# Repository path in formation <repository url>/<repository path>
# If you are using ECR if should be like <account number>.dkr.ecr.ap-southeast-2.amazonaws.com/<repository>
REPOSITORY_URL=

# VPC NAME: Make sure VPC and subnets spread accross multiple AZs
VPC_NAME=

# Login configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# INFRA TASK capacity
DESIRED_CAPACITY=2
MAX_CAPACITY=2

# APPLICATION PORT MAPPING
APP_PORT=8080
KONG_PROXY_LISTEN=8000
KONG_ADMIN_LISTEN=8001
