
# ENV - used in deploy names
ENV=abhi

# AWS LOGIN CONFIGURATION
AWS_REGION=ap-southeast-2
AWS_DEFAULT_REGION=ap-southeast-2
AWS_ACCESS_KEY_ID=XXX
AWS_SECRET_ACCESS_KEY=XXX

# INFRA VARIABLES
DESIRED_CAPACITY=2
MAX_CAPACITY=2
APP_ECR_REPOSITORY_URL=553479592532.dkr.ecr.ap-southeast-2.amazonaws.com/trading/commission-service